$body:#ff9999;
$color:blanchedalmond;
$logoFondo:#FFF2F2;
$logo: 41%;
$negro:black ;
$texto-tituloPrincipal:center;
$margim-buton:0%;
$tiempo1: 1s;
$tiempo2: 2s;
$tiempo3: 3s;
$animation-name: aparecer;
$blanco: white;
$degrades:rgb(255,153,153);
$degrades1:linear-gradient(180deg, rgba(255,153,153,1) 0%, rgba(0,0,0,1) 40%);
$pading10px:10px;
$margin-top30px:30px;
$widt:320px;
$none:none;

.body{
    background-color: $body;
}
@import "_header";

.color{
    background-color: $color;
}
.logoFondo{
    background-color: $logoFondo;
}
.logo{
    margin-left:$logo;
}
.tituloPrincipal{
    color: $negro;
    text-align: $texto-tituloPrincipal;
    background-color: $color;
    margin-bottom: $margim-buton;
    animation-duration: $tiempo1+1;
    animation-name: $animation-name;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-nav{
    background-color: $color;
}
.titulo{
    text-align: $texto-tituloPrincipal;
    margin-bottom: $margim-buton;
    margin-top: $margim-buton;
    background-color:$negro;
    color: $blanco;
    animation-duration: $tiempo1+2;
    animation-name: $animation-name;
}
#boton{
    background-color: $negro;
    color: $blanco;
}
#fondoPagina{
    background-color:$body;
    margin-bottom: $margim-buton;
}
.footer{
    background: $degrades;
    background: $degrades1;
    text-align: $texto-tituloPrincipal;
    padding: $pading10px;
    color:$blanco;
  }
.footer__fraseInspiradora{
    text-align: $texto-tituloPrincipal;
    margin-top:$margin-top30px;
}
.footer__redes{
    background-color:$negro;
    display:flex;  
    flex-direction:row; 
    margin-left: 45%;
    align-items:$texto-tituloPrincipal;
  }
.imagen1{
    margin-top: 10px;
    margin-right: 42%;
    margin-bottom: 40px;
    margin-left: 41.2%;
    background-color: $body;
  }  
.descripcion{
    background-color:$logoFondo ;
    width: $widt;
    display: flex;  
    flex-direction: row; 
    justify-content: $texto-tituloPrincipal;
    text-align: $texto-tituloPrincipal;
    margin: $margim-buton;
  }
.elementos1{
    width: $widt;
    background-color: $logoFondo;
  }
.imagenes1{
    background-color:$body;
    display: flex;  
    flex-direction: row; 
    justify-content: $texto-tituloPrincipal;
    justify-content: space-around;
    list-style: $none;
  }
  .subtitulo{
    text-align: $texto-tituloPrincipal;
    margin-top: $pading10px;
    background-color: $negro;
    color: $blanco;
    padding: 5px;
  }
  .subtitulo1{
    background-color: $color;
    margin-top: 20px;
    padding: 5px;
text-align: $texto-tituloPrincipal;
}
.relleno{
    margin-bottom: 20%;
}
.formulario{
    margin-left: 25%;
    padding: 100px;
    width: 50%;
    background-color: $color;
    border: 1px solid $negro;
    border-radius: 7px;
    border-radius: 7px;
    padding: $pading10px;
}
#boton1{
    background-color:$negro;
    color: $blanco;
    margin-left: 110%;
    margin-top: -64px;
    width: 100px;
}
.parrafo{
    background-color: $negro;
    color: $blanco;
    text-align: $texto-tituloPrincipal;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: $pading10px;
}
.parrafo1{
    background-color: $negro;
    color: $blanco;
    text-align: $texto-tituloPrincipal;
    margin-bottom: 1%;
    
}
#modalImagenes{
  background-color:$color;

}
.modal1{
  margin-left: 75px;
}
.descripcion1{
  background-color:$logoFondo ;
    width: $widt;
    display: flex;  
    flex-direction: row; 
    justify-content: $texto-tituloPrincipal;
    text-align: $texto-tituloPrincipal;
    margin: $margim-buton;
}
@media only screen and (max-width: 812px) and (min-width:320px){
  .logo{
    margin-left: 6%;
  }
  .imagen1{
    margin-top: $pading10px;
    margin-right: 42%;
    margin-bottom: 12px;
    margin-left: 3.5%;
  }
  .imagenes1{
    background-color:$body;
    display: flex;  
    flex-direction: column; 
   margin-left: -5.4%;
   justify-content: space-between; 
  }
  .descripcion{
    background-color:$logoFondo ;
    width: $widt;
    display: flex;  
    flex-direction: row; 
    text-align: $texto-tituloPrincipal;
    margin-left:$margim-buton;
  }
  .descripcion1{
    background-color:$logoFondo;
    width: $widt;
    display: flex;  
    justify-content: $texto-tituloPrincipal;
    flex-direction: row; 
    text-align: $texto-tituloPrincipal;
    margin-left: 4%;
    margin-bottom:$margim-buton;
  }
  .elementos1{
    width: $widt;
    background-color:$logoFondo;
  }
  .formulario{
    margin-left: 1%;
    padding: 100px;
    width: 98%;
    background-color: $color;
    border: 1px solid $negro;
    border-radius: 7px;
    border-radius: 7px;
    padding: $pading10px;
}
.mapa{
  display: flex;
  justify-content: $texto-tituloPrincipal;
  align-content: flex-start;
  flex-wrap: nowrap;
  background-color: $body;
  padding: $pading10px;
  width: 100%;
}
.modal1{
  margin-left: $margim-buton;
}
.footer__redes{
  background-color:$negro;
    display:flex;  
    flex-direction:row; 
    margin-left: 21%;
    align-items:$texto-tituloPrincipal;
}    
}
